@media (min-width: 789px) {
  .grid1_2 {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
  }

  .kasse {
    position: relative;
    background-color: var(--primary-cl);
    padding: 10px;
    width: 35%;
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .kasse h2 {
    margin: 10px 0;
    color: var(--cl-4);
  }

  .kasse h2:hover {
    color: var(--secondary-cl);
  }
}

@media (max-width: 800px) {
  .grid1_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
  }

  .kasse {
    width: 80%;
    margin: 0 auto 50px;
    position: relative;
    background-color: var(--primary-cl);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .kasse h2 {
    margin: 10px 0;
    color: var(--cl-4);
  }

  .kasse h2:hover {
    color: var(--secondary-cl);
  }
}
