.sport_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.sport_img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 1rem;
}

.price_tag {
  display: inline-flex;
  gap: 1rem;
}

.udsolgt {
  color: white;
  z-index: 10;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  background-color: rgb(225, 0, 0, 0.5);
  padding: 4px;
}

.blur {
  filter: blur(4px);
}

.favourit {
  position: absolute;
  left: 82%;
  top: 3%;
  font-size: larger;
  padding: 0 4px;
  color: white;
  background-color: var(--cl-5);
  cursor: pointer;
}

.sport_img {
  transition: filter 0.2s linear;
  background-color: rgb(225, 0, 0, 1);
}

@media (max-width: 800px) {
  .sport_container {
    grid-template-columns: 1fr;
  }

  .sport_img_container {
    margin-bottom: 0.5rem;
  }

  .favourit {
    left: 75%;
    top: 2%;
  }

  .sport_img {
    background-color: transparent;
  }

  .udsolgt {
    font-size: smaller;
    padding: 2px;
  }
}
