main {
  margin: 6rem;
}

/*
venstre side
*/
.purchase_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  min-height: 100vh;
  gap: 1rem;
}

.product_img {
  max-width: 100%;
  height: auto;
  position: relative;
  padding: 1rem;
}

.favourit {
  position: absolute;
  left: 87%;
  top: 2%;
  font-size: larger;
  padding: 0 4px;
  color: black;
  cursor: pointer;
}

/*
Højre side
*/
.breadcrumb {
  line-height: 1.4rem;
  padding-left: 2rem;
  text-transform: uppercase;
  display: flex;
  gap: 3rem;
}

.product_head h1 {
  max-width: 45rem;
  padding-left: 2rem;
}

.price_tag {
  padding-left: 25rem;
  display: inline-flex;
  gap: 1rem;
}

.product_selector1 {
  padding-left: 2rem;
  display: inline-flex;
  padding-top: 1.8rem;
  gap: 3rem;
}

.product_selector2 {
  padding-left: 2rem;
  display: inline-flex;
  padding-top: 1.8rem;
  gap: 3rem;
}

.soldout {
  color: var(--secondary-cl);
}

.usagetype {
  text-transform: lowercase;
}

.product_description .product_materials {
  padding-left: 4rem;
}

/* 
dropdown
 */
.press {
  cursor: pointer;
}

.press:hover {
  border-bottom: 2px solid var(--secondary-cl);
}

.dropdown {
  display: none;
}

.dropdown.active {
  display: block;
}

/* 
cart
*/
.cart {
  background-color: var(--primary-cl);
  margin-top: 4rem;
  height: 40px;
  width: auto;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cart a {
  color: var(--cl-4);
}

.cart a:hover {
  color: var(--secondary-cl);
}

/* mobile */
@media (max-width: 800px) {
  main {
    margin: 2rem;
  }

  .purchase_box {
    display: block;
    min-height: auto;
  }

  .favourit {
    top: 7%;
    left: 85%;
  }

  .breadcrumb {
    padding-left: 1rem;
    flex-direction: column;
    gap: 2rem;
  }

  .product_head h1 {
    max-width: none;
    padding-left: 1rem;
  }

  .price_tag,
  .product_selector1,
  .product_selector2 {
    padding-left: 1rem;
    gap: 1rem;
  }

  .product_description .product_materials {
    padding-left: 1rem;
  }

  .cart {
    margin-top: 2rem;
    padding: 10px;
  }
}
